@import url('https://fonts.googleapis.com/css2?family=Akronim&family=Montserrat:ital@0;1&display=swap');

* { 
    margin: 0;
}
/* General page settings, backgound of the page */ 
body {
    background-color: powderblue;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
    text-align: left;
    margin: 0;
    font-size: 100%;
}
main {
    width: 90%;
    background-color: teal;
    margin: 0 auto;
}
/* global text styles */
em {
  font-family: 'Montserrat', sans-serif;
  font-weight: italic;
}
h1 {
  font-family: 'Akronim', cursive;
}  
h2 {
  font-family: 'Akronim', cursive;
}
/* sections */
header {
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #575757;
    color: #F0EBEB;
    margin-left: auto;
    margin-right: auto;
    font-size: 200%;
    text-align: center;
    letter-spacing: 0.5em;
}
footer {
    padding: 0.5em 0;
    background-color: #E49A2F;
    text-align: center;
    color: #F7F5EE;
}
section {
    background-color: #D8CCAF;
    width: 100%;
    overflow: auto;
    font-family: 'Montserrat', sans-serif;
}
section.content_left, section.content_right {
    float: left;
    border: 1px solid #AC9675;
    margin: 2em;
    padding: 1%;
    background-color: #F7F5EE;
    width: 40%;
    overflow: hidden;
    border-radius: 1%;
}
section.content_left {
    float: left;
}
section.content_right {
    float: right;
}
/* nav menu */
nav{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: #E49A2F;
}
nav li {
    display: inline;
}
nav a {
    display: inline-block;
    padding: 0.5em;
    margin: 0 0.1em;
    color: white;
    text-decoration: none;
    background-color: #E49A2F;
}
nav ul {
  padding: 0px;
}
nav a:hover:not(.active) {
  background-color: #111;
}
nav .active {
  background-color: blue;
}